/* HOME */
/* BANNER */
.hero {
    font-weight: 300;
    font-size: 28px;
    background: url(../images/herobanner.jpg) no-repeat;
	background-size: cover;
	min-height: 350px;
    max-height: 400px;
    color: white;
    margin: 0 0 0 0;

    @include templateFlex(center, center, true);

    &_titulo {
        text-shadow: 1px 1px 10px $colorH;
    }

    &_subtitulo {
        text-shadow: 0px 0px 5px black;
    }
}


/* HOME */
/* SEPARADOR DEBAJO DEL BANNER */
/* Contenedor de todo el separador */
.separador_frase {
    background-color: $color2;
    background-image: radial-gradient($color2, $colorF 60% 80%);
    min-height: 200px;

    @include templateFlex(space-evenly, center, false);
    padding: 0 20% 0 20%;
    flex-wrap: nowrap;

    /* Texto del separador */
    &-frase {
        font-weight: 300;
        font-style: italic;
        font-size: 18px;
        color: coral;
        opacity: 75%;
    }

    /* Lineas que acompañan el texto */
    &-linea {
        width: 20%;
        border: 1px solid coral;
        opacity: 25%;
    }
}


/* HOME */
/* FRASES INFORMATIVAS EN 4 CUBOS */
/* contenedor de cubos */
.separador_cubos {
    @include templateGrid(2, 1fr, 1, 1fr, 0%);
    margin: 0 auto;

    /* Cubos en general */
    & div {
        @include templateFlex(center, center, false);
        flex-wrap: wrap;
        height: auto;
    }

    /* Cubo de titulo */
    &__titulo {
        background-color: $color1;
        font-weight: 100;
        font-size: 30px;
        color: azure;
        text-align: center;
        padding: 7%;
        min-width: 100%;
    }

    /* Cubo de texto */
    &__texto {
        background-color: honeydew;
        font-weight: 200;
        font-size: 18px;
        text-align: center;
        padding: 7%;
    }
}


/* HOME */
/* TARJETAS DESTACADOS */
.contenedor_tarjeta {
    padding: 5% 1% 5% 1%;
    background-color: $colorF;

    @include templateFlex(space-evenly, center, false);
}

.tarjeta {
    max-width: fit-content;
    min-width: auto;

    /* Solapa "Destacado" arriba de cada tarjeta */
    &__label {
        color:$color1;
        background-color: honeydew;
        border: solid 2px;
        border-radius: 10px;
        border-color: $colorH;
        margin-bottom: 1px;
        max-width: fit-content;
        min-width: auto;
        padding: 5px;
    }
    
    /* DIV que engloba la imagen, titulo y texto de la tarjeta */
    &__contenido {
        background-color: powderblue;
        border-radius: 10px;
        padding: 3%;
        min-height: 410px;
        box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.40);
        @include templateFlex(space-evenly, center, true);

        width: fit-content;
        min-width: auto;
    }
    
    /* Imagen del articulo destacado */
    &__contenido--imagen1 {
        background-image: url(../images/kika/1.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        border-radius: 10px;
        min-width: 300px;
        min-height: 200px;
        color: transparent;
    }
    &__contenido--imagen2 {
        background-image: url(../images/rosita/8.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        border-radius: 10px;
        min-width: 300px;
        min-height: 200px;
        color: transparent;
    }
    
    /* Titulo del articulo destacado */
    &__contenido--titulo {
        font-size: 18px;
        font-weight: 600;
        font-style: bold;
        color:$colorL;
        margin: 2% 0 2% 0;
    }
    
    /* Texto del articulo destacado */
    &__contenido--texto {
        font-size: 12px;
        font-weight: 500;
        max-width: 300px;
    
        margin-bottom: 5%;
    }
    
    /* Boton VER de la tarjeta */
    &__contenido--boton {
        color: slategrey;
        background-color: azure;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 5px;
    
        max-width: fit-content;
        min-width: auto;
    
        margin: auto 1% 1% auto;
    }
}


/* HOME */
/* SEPARADOR "DE CIRCULOS" ANTES DE FOOTER */
.separador_circulos {
    @include templateGrid(3, 1fr, 1, 1fr, 0%);
    margin: auto;
    padding: 10% 5% 7% 5%;
    background-color: $color2;
    background-image: linear-gradient($colorF, $color2 20% 100%);

    /* Contenedores de cada imagen y texto del separador */
    &__combo {    
        @include templateFlex(space-evenly, center, true);
    }
    
    /* Imagenes del separador antes del footer */
    &__img {
        border-radius: 40px;
        opacity: 40%;
        filter:grayscale(100%);
    }
    
    /* Texto del separador antes del footer */
    &__txt {
        font-weight: 300;
        font-style: italic;
        font-size: 18px;
        text-align: center;
        margin-top: 5%;
    }
}


/* ANIMACIONES */
/* Boton de la tarjeta */
.tarjeta__contenido--boton {
    transition: all 0.2s ease;

    &:hover {
        border: 1px solid $colorL;
        background-color: $color2;
        transition: all 0.2s ease;
    }

    &:active {
        border: 1px solid $colorH;
        background-color: white;
        color: $colorH;
        transition: all 0.2s ease;
    }
}


/* HERO ANIMACION */
.hero {
    animation: animacionflow 30s ease infinite;
}
@keyframes animacionflow {
  0%   { background-position: 0% 30%, 0 0;}
  50%  { background-position: 100% 70%, 0 0;}
  100% { background-position: 0% 30%, 0 0;}
}