/* TODAS LAS PAGINAS EXCEPTO HOME */
/* Navegacion o breadcrumbs */
.breadcrumbs {
    margin: 1% auto 1% 0;
    color: grey;
}
.breadcrumbs a {
    color: darkcyan;
}


/* PAGINAS DE ARTICULOS */
/* Titulo */
.title {
    color: darkcyan;
    margin: 5% auto 1% auto;
    text-align: center;
}

/* Subtitulo */
.subtitle {
    color: darkseagreen;
    margin: 1% auto 5% auto;
    text-align: center;
}


/* GALERIA - VIDEOS */
/* Tarjetas de videos */
.contenedor_tarjetav {
    padding: 5% 1% 5% 1%;
    background-color: blanchedalmond;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 3%;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.tarjetav {
    width: fit-content;
    min-width: auto;
}

/* DIV que engloba la imagen, titulo y texto de la tarjeta */
.tarjetav__contenido {
    background-color: powderblue;
    border-radius: 10px;
    padding: 3%;
    min-height: 610px;
    max-width: 500px;
    box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.40);

    display: flex;
    flex-direction: column;
}

/* Imagen del articulo destacado */
.tarjetav__contenido--video {
    border-radius: 10px;
    min-width: fit-content;
    min-height: 300px;
    margin: 3% 0 3% 0;
}

/* Titulo del articulo destacado */
.tarjetav__contenido--titulo {
    font-size: 22px;
    font-weight: 600;
    font-style: bold;
    color:darkcyan;
    margin: 2% 0 4% 0;
    text-align: center;
}

/* Texto del articulo destacado */
.tarjetav__contenido--texto {
    font-size: 12px;
    font-weight: 500;
    max-width: fit-content;
    margin: 0 auto;
}

/* Boton link de cada tarjeta */
.tarjetav__contenido--boton {
    color: slategrey;
    background-color: azure;
    border: 1px solid darkcyan;
    border-radius: 10px;
    padding: 5px;

    max-width: fit-content;
    min-width: auto;

    margin: auto 1% 0 auto;
}

/* Tabla de estadisticas arriba del video */
.tarjetav__table {
    border: 0px;
    font-size: 11px;
    text-align: center;
    background: linear-gradient(90deg, rgba(36,11,111,0) 0%, paleturquoise 5% 95%, rgba(0,0,0,0) 100%);
}

/* Tabla de estadisticas arriba de mapa e imagenes */
.tarjetav__tablelarge {
    border: 0px;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(90deg, rgba(36,11,111,0) 0%, lemonchiffon 5% 95%, rgba(0,0,0,0) 100%);
    width: 100%;
    margin: 4% auto auto auto;
}


/* GALERIA - IMAGENES */
/* Seccion contenedora de imagenes */
.contenedor_imagenes {
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5%;
    justify-items: center;
    align-items: center;
    min-height: auto;
    overflow:visible;
    margin: 2% 0 5% 0;
}

/* Imagenes del contenedor de imagenes */
.contenedor_imagenes--img {
    overflow: auto;
    border-radius: 5%;
    border: 1px solid grey;
    box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.40);

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_imagenes--img img{
    max-width: 310px;
    max-height: 415px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Mapa de la seccion galeria imagenes */
.mapachico {
    min-width: 100%;
    min-height: 300px;
}


/* SECCION MAPA */
/* Mapa de la seccion Mapa */
.mapagrande {
    min-width: 100%;
    min-height: 600px;
    margin-bottom: 5%;
}

/* SECCION CONTACTO */
form {
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

fieldset {
    min-width: 600px;
    display: block;
    margin: 1%;
    padding: 1%;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 250, 205, 0.5);
  }

  fieldset div {
    margin-bottom: 2%;
  }

  legend {
    background-color: lemonchiffon;
    color: gray;
    padding: 5px;
    border-radius: 3%;
    border: 1px solid gray;
    border-radius: 10px;
  }

  input {
    display: inline-block;
    margin: 1%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1%;
  }

  fieldset label {
    display: inline-block;
    margin: 1%;
  }

  fieldset select {
    display: inline-block;
    margin: 1%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1%;
  }

  fieldset button {
    color: slategrey;
    background-color: azure;
    border: 1px solid darkcyan;
    border-radius: 10px;
    padding: 5px;

    max-width: fit-content;

    margin: 2%;
  }




  
/* ANIMACIONES */
/* Boton de la tarjeta */
.tarjetav__contenido--boton {
    transition: all 0.2s ease;
}
.tarjetav__contenido--boton:hover {
    border: 1px solid darkcyan;
    background-color: lemonchiffon;
    transition: all 0.2s ease;
}
.tarjetav__contenido--boton:active {
    border: 1px solid aquamarine;
    background-color: white;
    color: aquamarine;
    transition: all 0.2s ease;
}

/* Breadcrumbs links */
.breadcrumbs a {
    border-radius: 15%;
    background-color: transparent;
}
.breadcrumbs a:hover {
    border-radius: 15%;
    background-color: lemonchiffon;
    color: darkcyan;
    transition: all 0.2s ease;
}

/* Boton de formulario contacto */
fieldset button {
    transition: all 0.2s ease;
}
fieldset button:hover {
    border: 1px solid darkcyan;
    background-color: lemonchiffon;
    transition: all 0.2s ease;
}
fieldset button:active {
    border: 1px solid aquamarine;
    background-color: white;
    color: aquamarine;
    transition: all 0.2s ease;
}

/* Espacios a rellenar de formulario contacto */
input:focus {
    outline: none;
    border: 1px solid aquamarine;
    transition: all 1s;
}
select:focus {
    outline: none;
    border: 1px solid aquamarine;
    transition: all 1s;
}




/* RESPONSIVE */
@media (max-width: 810px) {
    .contenedor_tarjetav {
        display: flex;
        flex-direction: column;
    }

    .tarjetav {
        margin-bottom: 5%;
    }
    
    fieldset {
        min-width: 500px;
      }

    input {
        display: inline-block;
        max-width: 150px;
    }

    fieldset label {
        display: inline-block;
    }
    
    .desdehasta {
        display: inline-block;
    }

    fieldset select {
        display: inline-block;
    }

    .subtitle {
        font-size: 18px;
    }

    .tarjetav__tablelarge {
        table-layout: fixed;
        width: 100%;
    }

    .tarjetav__tablelarge th {
        font-size: 13px;
        font-style: bold;
    }

    .contenedor_imagenes {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        min-height: max-content;
        margin: 10% auto 10% auto;
    }
    
    .contenedor_imagenes--img img{
        max-width: auto;
        max-height: 415px;
    }
}


@media (max-width: 540px) {
    
    .breadcrumbs {
        display: none;
    }

    fieldset {
        min-width: 350px;
      }

      fieldset div {
        max-width: 330px;
      }

    input {
        max-width: 100%;
    }

    .subtitle {
        display: none;
    }

    .contenedor_imagenes {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(auto, 1fr);
        margin: 10% auto 10% auto;
        gap: 10px;
    }
    
    .contenedor_imagenes--img img{
        max-width: auto;
        max-height: 315px;
    }

    .tarjetav__tablelarge {
        table-layout: fixed;
        width: 100%;
    }

    .tarjetav__tablelarge th {
        font-size: 9px;
        font-style: bold;
    }
}