/* HOME */
/* BANNER */
.hero {
    font-weight: 300;
    font-size: 28px;
    background: url(../imgs/herobanner.jpg) no-repeat;
	background-size: cover;
	min-height: 350px;
    max-height: 400px;
    color: white;
    margin: 0 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hero_titulo {
    text-shadow: 1px 1px 10px aquamarine;
}
.hero_subtitulo {
    text-shadow: 0px 0px 5px black;
}


/* HOME */
/* SEPARADOR DEBAJO DEL BANNER */
/* Contenedor de todo el separador */
.separador_frase {
    background-color:lemonchiffon;
    background-image: radial-gradient(lemonchiffon, blanchedalmond 60% 80%);
    min-height: 200px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20% 0 20%;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Texto del separador */
.separador_frase-frase {
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    color: coral;
    opacity: 75%;
}

/* Lineas que acompañan el texto */
.separador_frase-linea {
    width: 20%;
    border: 1px solid coral;
    opacity: 25%;
}


/* HOME */
/* FRASES INFORMATIVAS EN 4 CUBOS */
/* contenedor de cubos */
.separador_cubos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

/* Cubos en general */
.separador_cubos div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* Cubo de titulo */
.separador_cubos__titulo {
    background-color: cadetblue;
    font-weight: 100;
    font-size: 30px;
    color: azure;
    text-align: center;
    padding: 7%;
}

/* Cubo de texto */
.separador_cubos__texto {
    background-color: honeydew;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    padding: 7%;
}


/* HOME */
/* TARJETAS DESTACADOS */
.contenedor_tarjeta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 1% 5% 1%;
    background-color: blanchedalmond;
}
.tarjeta {
    max-width: fit-content;
    min-width: auto;
}

/* Solapa "Destacado" arriba de cada tarjeta */
.tarjeta__label {
    color:cadetblue;
    background-color: honeydew;
    border: solid 2px;
    border-radius: 10px;
    border-color: aquamarine;
    margin-bottom: 1px;
    max-width: fit-content;
    min-width: auto;
    padding: 5px;
}

/* DIV que engloba la imagen, titulo y texto de la tarjeta */
.tarjeta__contenido {
    background-color: powderblue;
    border-radius: 10px;
    padding: 3%;
    width: fit-content;
    min-width: auto;
    min-height: 410px;
    box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.40);

    display: flex;
    flex-direction: column;
}

/* Imagen del articulo destacado */
.tarjeta__contenido--imagen1 {
    background-image: url(../imgs/kika/1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    border-radius: 10px;
    min-width: 300px;
    min-height: 200px;
    color: transparent;
}
.tarjeta__contenido--imagen2 {
    background-image: url(../imgs/rosita/8.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    border-radius: 10px;
    min-width: 300px;
    min-height: 200px;
    color: transparent;
}

/* Titulo del articulo destacado */
.tarjeta__contenido--titulo {
    font-size: 18px;
    font-weight: 600;
    font-style: bold;
    color:darkcyan;
    margin: 2% 0 2% 0;
}

/* Texto del articulo destacado */
.tarjeta__contenido--texto {
    font-size: 12px;
    font-weight: 500;
    max-width: 300px;

    margin-bottom: 5%;
}

/* Boton VER de la tarjeta */
.tarjeta__contenido--boton {
    color: slategrey;
    background-color: azure;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;

    max-width: fit-content;
    min-width: auto;

    margin: auto 1% 1% auto;
}



/* HOME */
/* SEPARADOR "DE CIRCULOS" ANTES DE FOOTER */
.separador_circulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding: 10% 5% 7% 5%;
    background-color:lemonchiffon;
    background-image: linear-gradient(blanchedalmond, lemonchiffon 20% 100%);
}

/* Contenedores de cada imagen y texto del separador */
.separador_circulos__combo {    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* Imagenes del separador antes del footer */
.separador_circulos__img {
    border-radius: 40px;
    opacity: 40%;
    filter:grayscale(100%);
}

/* Texto del separador antes del footer */
.separador_circulos__txt {
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
}



/* ANIMACIONES */
/* Boton de la tarjeta */
.tarjeta__contenido--boton {
    transition: all 0.2s ease;
}
.tarjeta__contenido--boton:hover {
    border: 1px solid darkcyan;
    background-color: lemonchiffon;
    transition: all 0.2s ease;
}
.tarjeta__contenido--boton:active {
    border: 1px solid aquamarine;
    background-color: white;
    color: aquamarine;
    transition: all 0.2s ease;
}


/* HERO */
.hero {
    animation: animacionflow 30s ease infinite;
}
@keyframes animacionflow {
  0%   { background-position: 0% 30%, 0 0;}
  50%  { background-position: 100% 70%, 0 0;}
  100% { background-position: 0% 30%, 0 0;}
}




/* RESPONSIVE */
@media (max-width: 810px) {
    .contenedor_tarjeta {
        flex-direction: column;
    }

    .tarjeta {
        margin-bottom: 5%;
    }

    .separador_cubos__titulo {
        font-size: 28px;
    }

    .separador_cubos__texto {
        font-size: 16px;
    }

    .separador_frase-frase {
        white-space: nowrap;
    }

    .separador_frase-linea {
        display: none;
    }
}


@media (max-width: 540px) {

    .hero_subtitulo {
        font-size: 22px;
    }
    
    .separador_cubos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    }
}